### Задание 1

In [45]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [46]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [47]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [48]:
Y = pd.DataFrame(target, columns=['price'])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [49]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.30,
                                                   random_state=42)

In [51]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [52]:
lr.fit(X_train,Y_train)

LinearRegression()

In [53]:
Y_pred = lr.predict(X_test)
Y_pred.shape

(152, 1)

In [54]:
check_test = pd.DataFrame({'Y_test': Y_test['price'],
                          'Y_pred': Y_pred.flatten()},
                         columns=['Y_test','Y_pred'])

In [55]:
check_test['error']=check_test['Y_pred']-check_test['Y_test']
check_test.head()

     Y_test     Y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [56]:
from sklearn.metrics import r2_score #R**2
r2_score(Y_test,Y_pred)

0.7112260057484929

### Задание 2

In [57]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=10000, max_depth=12, random_state=42)

In [58]:
model.fit(X_train,Y_train.values[:, 0])
Y_pred2 = model.predict(X_test)
Y_pred2.shape

(152,)

In [59]:
check_test = pd.DataFrame({'Y_test': Y_test['price'],
                          'Y_pred': Y_pred2.flatten()},
                         columns=['Y_test','Y_pred'])
check_test['error']=check_test['Y_pred']-check_test['Y_test']
check_test.head()

     Y_test     Y_pred     error
173    23.6  22.723073 -0.876927
274    32.4  31.070675 -1.329325
491    13.6  16.488283  2.888283
72     22.8  23.858482  1.058482
452    16.1  17.220449  1.120449

In [60]:
r2_score(Y_test,Y_pred2)

0.872895237439057

 модель случайный лес работает лучше, если это не переобучение

### Задание 3

In [62]:
?RandomForestRegressor

In [92]:
model.feature_importances_, feature_names

(array([0.03276964, 0.00170492, 0.00711809, 0.00114051, 0.01377955,
        0.40595893, 0.01494182, 0.06383612, 0.00487484, 0.01167908,
        0.01794206, 0.01280409, 0.41145036]),
 array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'))

In [65]:

model.feature_importances_.sum()

1.0

In [98]:
arr_features=list(zip(model.feature_importances_, feature_names))
sorted(arr_features)[len(model.feature_importances_)-2:k] 
 # 2 наиболее важных признака

[(0.4059589273316076, 'RM'), (0.4114503599389992, 'LSTAT')]